<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/header.html :: headerfiles">
    <title>Thymeleaf Fragments: home</title>
</head>
<body class="pf-c-page">
<header th:replace="fragments/header.html :: header"></header>
<main class="pf-c-page__main">
    <section class="pf-c-page__main-section">
        <div class="pf-c-page__main-body">
            <div class="pf-c-content">
                <h1>Jakarta MVC + HotWire = ❤️</h1>
                <p>This project demonstrates how to use Jakarta MVC with HotWire...</p>
            </div>
        </div>
    </section>
</main>
</body>
</html>