<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/header.html :: headerfiles">
    <title>Thymeleaf Fragments: home</title>
</head>
<body class="pf-c-page">
<header th:replace="fragments/header.html :: header"></header>
<main class="pf-c-page__main">
    <section class="pf-c-page__main-section">
        <div class="pf-c-page__main-body">
            <div class="pf-c-content">
                <h1>Lazy Loaded Content</h1>
                <p>The following section is lazy loaded</p>
            </div>
        </div>
    </section>

    <section class="pf-c-page__main-section">
        <div class="pf-c-page__main-body">
            <div class="pf-c-content">
                <turbo-frame id="aboutContent" th:src="${mvc.basePath} + '/lazy/content'">
                    <p>
                    <div class="pf-c-skeleton"></div>
                    <p>
                    <div class="pf-c-skeleton"></div>
                    <p>
                    <div class="pf-c-skeleton"></div>
                </turbo-frame>
            </div>
        </div>
    </section>
</main>
</body>
</html>